@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



:root {
    --toastify-color-light: rgb(244 246 248);
    --toastify-color-dark: rgb(48 54 66);
    --toastify-color-info: rgb(69 81 229);
    --toastify-color-success: rgb(112 177 79);
    --toastify-color-warning: rgb(255 205 47);
    --toastify-color-error: rgb(244 67 52);
}

@layer base {
    * {
        @apply box-border font-rob;
    }

    html,
    body,
    #root {
        @apply h-full w-full bg-light-primary text-light-text dark:bg-dark-primary dark:text-dark-text;
    }
}

@layer components {


    /* Components */
    .input_error>div:first-child {
        @apply outline outline-2 outline-light-danger dark:outline-dark-danger;
    }

    .input_focus {
        @apply !bg-light-primary outline outline-2 outline-teal-400 dark:!bg-dark-primary dark:outline-teal-400;
    }

    /* Utilities  */

    .wrapper {
        @apply relative h-full w-full;
    }

    .primary {
        @apply bg-light-primary dark:bg-dark-primary;
    }

    .secondary {
        @apply bg-light-secondary dark:bg-dark-secondary;
    }

    .info {
        @apply bg-light-info dark:bg-dark-info;
    }

    .warning {
        @apply bg-light-warning dark:bg-dark-warning;
    }

    .success {
        @apply bg-light-success dark:bg-dark-success;
    }

    .danger {
        @apply bg-light-danger dark:bg-dark-danger;
    }

    .accent {
        @apply bg-light-accent dark:bg-dark-accent;
    }

    .text {
        @apply bg-light-text dark:bg-dark-text;
    }
}
